*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    /* background-color: rgba(250, 249, 248, 0.608); */
    /* background-image: url(images/Sunflowers.jpg);
    background-size: contain; */
    margin: 0;
    padding: 0;

}
nav{
    background-color: white;
    height:180px;
    width: 100%;
    position:fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3em;
    margin:15px;
}
.name{
    color: red;
    border: 1px solid white;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}
.name:hover{
    color: black;
    /* background-color:  rgba(147, 141, 141, 0.729); */
}
.navbar a{
    color: black;
}

.pnavbar a:hover {
    color: red;
}
.pnavbar a:link{
    text-decoration: none;
}
.pnavbar{
    display: flex;
    justify-content:center;
    align-items: center;
}
.navbar{
    color: black;
    background-color: white;
    margin: 10px;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 5px;
    visibility: visible;
}
.navbarleft{
   display: none;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 40px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    display:none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color: white;
}

.spacer{
    height: 200px;
    width: 100%;
}
.sectionabout{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    margin: 50px 0;
    padding: 20px;
}

.about{
    background-color: white;
    opacity: 90%;
    height: 500px;
    width: 800px;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 50px;
}
.about p{
    text-align: left;
}
.contact{
    background-color: white;
    opacity: 90%;
    height: 500px;
    width: 800px;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 50px;
}
.sectionproject{
    display: flex;
    justify-content: center;
    /* margin: 600px 0; */
    padding: 200px 0;
}
.projectsbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    height:640px;
    width:960px;
    margin: 10px;
}
.project{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    text-align: center;
    font-size: 1em;
    text-shadow: -3px 3px rgb(56, 53, 53);
    color:white;
    height: 300px;
    width: 300px;
    background-color: rgb(55, 51, 51);
    border: 2px solid black;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    overflow:hidden;
}
#one{
    background-image: url("./images/IMG_0362.jpg");
    background-size: cover;
    background-position-y: -70px;
}
.projectsbox a:link{
    text-decoration: none;
}
#two{
    background-image: url("images/donkey_kong_game.png");
    background-size: cover;
}
#three{
    background-color: rgb(84, 5, 5)
}
#four{
    background-color:rgb(116, 5, 5)
}
#five{
    background-color: rgb(175, 9, 9)
}
#six{
    background-color: rgb(206, 8, 8)
}
.sectioncareer{
    display: flex;
    justify-content: center;
    padding: 200px 0;
}
.careersbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    height:640px;
    width:960px;
    margin: 10px;
}

.career{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
}
.career img{
    max-width: 300px;
    max-height: 300px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 100px;
    margin: 10px;
    font-size: 2em;
    z-index: -1;
}

@media screen and (max-width:768px){
.sectionabout,.sectionproject,.sectioncareer{
    flex-direction: column;
    align-items: center;
    }
.about,.contact,.projectsbox,.careersbox,.navbar{
    height: 100%;
    width:100%;
}
.dropdown{
    display: initial;
}
.navbarleft{
    display:initial;
}
.navbar{
    display: none;
}
}





