*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;

}
h1,h2,h3,h4,h5,h6
{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3em;
    margin:15px;
}
button{
    color: black;
    margin: 25px;
    font-size: 1.5em;
    background-color: white;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color:black;
}
.section_photo{
    /* border: 1px solid black; */
    position: fixed;
    top: 150px;
    left: 20px;
    height:470px;
    width: 700px;
}

.section_photo img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}
.section_about{
    /* border: 1px solid black; */
    position: fixed;
    font-size: 1.5em;
    top: 130px;
    left: 750px;
    height: 300px;
    width: 600px;
    padding: 20px;
}